In [1]:
print("Hello, World!")

Hello, World!

In [2]:
2**5

32

In [3]:
2+2*3

8

# Variables and Print

## Let's start!

Well

In [7]:
name = "Sasita"
age = 18

In [11]:
print("Hello, my name is {x} and I am {y} years old.".format(x=name, y=age))

Hello, my name is Sasita and I am 18 years old.

List and Index

In [20]:
myList = ['a',2,3]

In [21]:
myList

['a', 2, 3]

In [22]:
myList.append(4)

In [23]:
print(myList)

['a', 2, 3, 4]

In [24]:
print(myList.append('b'))

None

In [25]:
myList

['a', 2, 3, 4, 'b']

In [26]:
myList = ['a',1]

In [27]:
print(myList)

['a', 1]

In [28]:
myList.append('b',2)

TypeError: list.append() takes exactly one argument (2 given)

In [29]:
myList.append('b')

In [30]:
print(myList)

['a', 1, 'b']

In [31]:
myList.append(2)

In [32]:
print(myList)

['a', 1, 'b', 2]

In [33]:
print(myList[0:])

['a', 1, 'b', 2]

In [34]:
print(myList[1:3])

[1, 'b']

In [35]:
myList.append([3,4,5])

In [36]:
print(myList)

['a', 1, 'b', 2, [3, 4, 5]]

In [37]:
print(myList[4][1])

4

In [38]:
myList=['a',1]

In [39]:
myList=['a',1,'b']

In [40]:
myList.append(2)

In [41]:
print(myList[0:])

['a', 1, 'b', 2]

In [42]:
print(myList[-1])

2

In [43]:
print(myList[1:3])

[1, 'b']

In [44]:
myList.append([3,4])

In [45]:
print(myList[4][1])

4

In [46]:
print(myList[-1])

[3, 4]

Dictionary and Boolean

In [47]:
myDict={'key':1, 'key2':'secondItem'}

In [48]:
print(myDict['key2'])

secondItem

In [49]:
myValue = True

In [50]:
print(myValue)

True

Tuple

In [51]:
myTup = (1, 'a', 2)

In [52]:
print(myTup)

(1, 'a', 2)

In [53]:
print(myTup[1:])

('a', 2)

In [54]:
myTup[1] = 0

TypeError: 'tuple' object does not support item assignment

In [55]:
myList = [1, 'a', 2]

In [56]:
print(myList[1:])

['a', 2]

In [57]:
myList[1] = 0

In [58]:
print(myList[0:])

[1, 0, 2]

__Set__

In [62]:
mySet = {1,1,1,2,3,3}

In [63]:
print(mySet)

{1, 2, 3}

In [64]:
myList = [1,1,1,2,3,3]

In [65]:
print(myList)

[1, 1, 1, 2, 3, 3]

In [66]:
print(set(myList))

{1, 2, 3}

__Build-in Functions__

In [67]:
import math

In [68]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.9/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/sasitarrr/opt/anaconda3/lib/python3.9/lib-dynload/math.cpython-39-darwin.so

In [75]:
print(math.sqrt(2))

1.4142135623730951

In [78]:
print(math.tan(0.25))

0.25534192122103627

___

__Comparison and Logical Operators__

In [79]:
print((1==1)or(1>=2))

True

__Control Flow Statements__

In [84]:
if (1!=2):
    print("Statement1 is True.")
elif 1==1:
    print("Statement2 is True.")
else:
    print("Both weren't True.")

Statement1 is True.

__For Loop__

In [85]:
seq = [1,2,3,4,5]
for i in seq:
    print(i**2)

1
4
9
16
25

__While Loop__

In [6]:
i=1
while i<5:
    print("currently, i is {}.".format(i))
    i += 1

currently, i is 1.
currently, i is 2.
currently, i is 3.
currently, i is 4.

__Range()__

In [7]:
print(range(5))

range(0, 5)

In [25]:
print(list(range(21)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
for i in range (0,11,2):
    print(i)

0
2
4
6
8
10

__List Comprehension__

In [16]:
out=[]
for i in range (5):
    out.append(i)

In [17]:
print(out)

[0, 1, 2, 3, 4]

In [20]:
print([i for i in range(5)])

[0, 1, 2, 3, 4]

In [21]:
x = [1,2,4]

out=[]
for i in x:
    out.append(i**2)
    
print(out)

[1, 4, 16]

In [22]:
print([i**2 for i in x ])

[1, 4, 16]

__[Review]List Comprehension__

In [26]:
x = [2,4,6]

In [27]:
out = []
for i in x:
    out.append(i**3)

In [28]:
print(out)

[8, 64, 216]

In [29]:
print([i**3 for i in x])

[8, 64, 216]

___

__Function()__

In [30]:
def myFunc():
    print("Hello")

In [35]:
myFunc()

Hello

In [47]:
def myFunc(param='Default'):
    print(param)

In [48]:
myFunc()

Default

In [51]:
def myFunc(param='Default'):
    """
    DocString!
    """
    print(param)

In [52]:
myFunc("Sasita")

Sasita

In [68]:
def myFunc(argument):
    print(argument*5)
    return argument*5

In [69]:
myFunc(5)

25

25

In [70]:
x=myFunc(5)

25

In [71]:
print(x)

25

__lambda expression__

In [72]:
def timesTwo(arg):
    return arg*2

In [74]:
timesTwo(4)

8

In [75]:
lambda arg:arg*2

__Map__

In [100]:
seq = [1,2,3,4]

In [77]:
def timesTwo(arg):
    return arg*2

In [78]:
map(timesTwo, seq)

In [80]:
list(map(timesTwo, seq))

[2, 4, 6, 8]

In [81]:
list(map(lambda arg:arg*2, seq))

[2, 4, 6, 8]

__Filter__

In [104]:
list(filter(lambda arg:arg%2==0, seq))

[2, 4]

In [101]:
def isEven(arg):
    return arg%2==0

In [102]:
filter(isEven, seq)

In [103]:
list(filter(isEven, seq))

[2, 4]

__Review__

In [105]:
out=[]
for i in seq:
    out.append(isEven(i))

In [106]:
print(out)

[False, True, False, True]

In [98]:
out=[]
for i in seq:
    out.append(timesTwo(i))

In [99]:
print(out)

[2, 4, 6, 8]

__Useful Methods__

In [107]:
st='Hello, my name is Sasita'

In [108]:
st.lower()

'hello, my name is sasita'

In [110]:
st.upper()

'HELLO, MY NAME IS SASITA'

In [111]:
st.split()

['Hello,', 'my', 'name', 'is', 'Sasita']

In [112]:
st.split('e')

['H', 'llo, my nam', ' is Sasita']

___

In [113]:
myList=[1,2,'a']

In [114]:
myList.append(4)

In [115]:
print(myList)

[1, 2, 'a', 4]

In [116]:
myList.pop()

4

In [117]:
myList.pop('a')

TypeError: 'str' object cannot be interpreted as an integer

In [118]:
myList.pop(1)

2

In [119]:
myList.pop(2)

IndexError: pop index out of range

In [120]:
myList.pop(1)

'a'

In [121]:
print(myList)

[1]

In [122]:
1 in myList

True

In [123]:
'a' in myList

False

___

In [124]:
myDict={'key1':1,'key2':'second'}

In [125]:
myDict.keys()

dict_keys(['key1', 'key2'])

In [126]:
myDict.items

In [127]:
myDict.items()

dict_items([('key1', 1), ('key2', 'second')])

___